<div class="mini-container subtitle-container" [ngStyle]="{'height.px' : isOpened ? 440 : 28}">
  <div class="subtitle-header">
    <div>
      <span>Legenda</span>
    </div>
    <div (click)="openSubtitle()" class="icon-button" [ngClass]="{'icon-button-opened': this.isOpened }">
      <img src="assets/icons/arrow-up.png" alt="">
    </div>
  </div>
  <div class="subtitle-content" [ngStyle]="{'height.px': 400}">
    <div *ngFor="let item of fileItems">
      <div class="subtitle-item">
        <img src="assets/images/legenda/{{item.name}}.png" [alt]="item.description" >
        <span class="description">{{item.description}}</span>
      </div>
    </div>
  </div>
</div>